<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <script type="text/javascript" id="botcopy-embedder-d7lcfheammjct" class="botcopy-embedder-d7lcfheammjct" data-botId="63660a5baf42cb0008901c97">
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://widget.botcopy.com/js/injection.js';
        document.getElementById('botcopy-embedder-d7lcfheammjct').appendChild(s);
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keywords</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <!-- Navigation bar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='tutorLogo.png') }}" id="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('tutor.index') }}">Discussions <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item right-end">
                    <a class="nav-link" href="{{ url_for('tutor.logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{{ url_for('tutor.c') }}" class="side-link"> About C </a>
        <a href="{{ url_for('tutor.algorithm') }}" class="side-link">Algorithm</a>
        <a href="{{ url_for('tutor.start') }}" class="side-link">Getting Started</a>
        <a href="{{ url_for('tutor.variables') }}" class="side-link">Variables</a>
        <a href="{{ url_for('tutor.constants') }}" class="side-link">Constants</a>
        <a href="{{ url_for('tutor.keywords') }}" class="topic side-link">Keywords</a>
        <a href="{{ url_for('tutor.datatypes') }}" class="side-link">Datatypes</a>
        <a href="{{ url_for('tutor.operators') }}" class="side-link">Operators</a>
        <a href="{{ url_for('tutor.program') }}" class="side-link">First C program</a>
        <a href="{{ url_for('tutor.decision') }}" class="side-link">Decision Control Structure</a>
        <a href="{{ url_for('tutor.loop') }}" class="side-link">Loop Control Structure</a>
        <a href="{{ url_for('tutor.jump') }}" class="side-link">Jump Statements</a>
        <a href="{{ url_for('tutor.functions') }}" class="side-link">Functions</a>
        <a href="{{ url_for('tutor.arrays') }}" class="side-link">Arrays</a>
        <a href="{{ url_for('tutor.strings') }}" class="side-link">Strings</a>
        <a href="{{ url_for('tutor.pointers') }}" class="side-link">Pointers</a>
    </div>
    <div id="main">
        <div class="button-nav">
            <button class="openbtn" onclick="openNav()">☰</button>
            <a href="{{ url_for('tutor.constants') }}" class="nav2-link">⏪ Previous</a> |
            <a href="{{ url_for('tutor.datatypes') }}" class="nav2-link">Next ⏩</a>
        </div>

        <!-- Content -->

        <div class="container">
            <div class="content">

                <h1>Keywords</h1><br>
                <p>Keywords are the words whose meaning has already been explained to the C compiler. The keywords cannot be used as variable names because if we do so we are trying to assign a new meaning to the keyword, which is not allowed by the computer.</p>

                <p>There are only 32 keywords available in C which are :</p>
                <ol>
                    <li>➡auto</li>
                    <li>➡break</li>
                    <li>➡case</li>
                    <li>➡char</li>
                    <li>➡const</li>
                    <li>➡continue</li>
                    <li>➡default</li>
                    <li>➡do</li>
                    <li>➡double</li>
                    <li>➡else</li>
                    <li>➡enum</li>
                    <li>➡extern</li>
                    <li>➡float</li>
                    <li>➡for</li>
                    <li>➡goto</li>
                    <li>➡int</li>
                    <li>➡long</li>
                    <li>➡register</li>
                    <li>➡return</li>
                    <li>➡short</li>
                    <li>➡signed</li>
                    <li>➡sizeof</li>
                    <li>➡static</li>
                    <li>➡struct</li>
                    <li>➡switch</li>
                    <li>➡typedef</li>
                    <li>➡union</li>
                    <li>➡unsigned</li>
                    <li>➡void</li>
                    <li>➡volatile</li>
                    <li>➡while</li>
                </ol>


            </div>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "18%";
            document.getElementById("main").style.marginLeft = "18%";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>